/* ================================= 
  variables
==================================== */

:root {
    --background-primary: #7477bf;
    --background-secondary: #4d4c72;
  }

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, 
body {
    margin: 0;
}

body {
    width: 100%;
}

.svg {
    width: 20px;
    height: 30px; 
}
 
li {
    list-style: none;
}
/* ================================= 
    Base Layout Styles
  ==================================== */
.grid-container {
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main" ;
}

/*Header*/
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-primary);
    color: white;
    width: 100%;
    padding: 1rem;

}

.header-logo {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.header-right {
    display: flex;
}

.bell-icon {
    margin-right: 1rem;
}

.pipe {
    margin-right: 1rem;
    font-size: 25px;
}

.header-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

header h3 {
    font-size: 18px;
    align-self: center;
}
/*Navigation*/
nav {
    grid-area : navigation;
    background-color: var(--background-secondary);
    padding: 1rem;
    text-align: center;
    width: 100%;
    align-items: center;
}

nav a {
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
}

nav img {
    display: inline-block;
}

/*Main*/
main {
    grid-area : main;
    width: 100%;
}

/*Dashboard*/
.main-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.headline {
    padding: 1rem;
}

.main-header-search {
    background-color: lightgray;
    padding: 1rem;
    padding
}

.main-header-searchbar {
    position: relative;
    padding-left: 1rem;
}

.main-header-search input {
    padding: 0.3rem;
    display: block; 
    border-radius: 5px 5px;  
    width: 100%;
    border: solid 0.5px black; 
    align-self:flex-end
}

.main-header-search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    z-index: 2;
    outline: none;
  }

/*Traffic Graph*/
.traffic {
    padding: 0.5rem;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
}

.traffic-nav li {
    display: inline;
    padding-right: 0.25rem;
    font-size: 10px;
}
/*Placeholder image for chart.js*/
.linegraph-placeholder {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-bottom: solid 1px lightgray;
}

.widget-container-full, 
.widget-container-half {
    width : 95vw ;
 }

/* ================================= 
    Media Queries
  ==================================== */
@media (min-width: 768px ) {
    .grid-container {
    grid-template-columns : 55px 1fr;
    grid-template-areas :
    "header header"
    "navigation main" ;
    }
    main {
        grid-template-columns : 50% ;
    }
    .traffic, 
    .social {
        grid-column : 1 / span 2 ;
    }
    .daily, 
    .members, 
    .message {
        grid-column : 1 / span 1 ;
    }
    .widget-container-full {
        width : 90vw ;
        }
    .widget-container-half {
        width : 45vw ;
    }
}