/* ================================= 
  Variables
==================================== */

:root {
    --background-primary: #7477bf;
    --background-secondary: #4d4c72;
    --transition-standard: all 0.75s ease-in-out;
  }

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html, 
body {
    margin: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.616);
}

svg {
    width: 20px;
    height: 30px; 
}
 
li {
    list-style: none;
}

.widget-container-full {
    margin-left: 1rem;
}

.widget-container-full, 
.widget-container-half {
    width: 95vw;
 }

 a {
     text-decoration: none;
 }

 a:visited {
     color: inherit;
 }

 .button-primary, 
 .button-disabled {
    border: none;
    padding: 0.5rem;
    color: white;
    border-radius: 5px 5px;
    width: 100px;
 }

.button-primary {
    background-color: var(--background-primary);
    border: solid 1px transparent;
    transition: var(--transition-standard);
}

.button-primary:hover {
    background-color: white;
    color: var(--background-primary);
    border: solid 1px var(--background-primary);
}

.button-disabled {
    background-color: rgba(112, 128, 144, 0.712);
    border: solid 1px transparent;
    transition: var(--transition-standard);
}

.button-disabled:hover {
    background-color: white;
    color: rgba(112, 128, 144, 0.712);
    border: solid 1px rgba(112, 128, 144, 0.712);
}

.form-field,
.form-area {
    margin-bottom: 1rem; 
    border-radius: 5px 5px;
    background-color: rgba(211, 211, 211, 0.301); 
}

button, 
span,
h3 {
    text-transform: uppercase;
}

h3 {
    font-weight: 400;
    font-size: 15px;
}

input,
textarea,
select {
    outline-color: transparent;
    border: solid 2px lightgrey;
    transition: var(--transition-standard);
}

input:focus,
textarea:focus,
select:focus {
    outline-color: rgba(0, 0, 0, 0.616);
}

input::placeholder,
textarea::placeholder,
select::placeholder,
.option {
    color: rgba(0, 0, 0, 0.616);
}

/* ================================= 
    Base Layout Styles
  ==================================== */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "navigation"
    "main" ;
}

/********** Header ***********/
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-primary);
    color: white;
    width: 100%;
    padding: 1rem;

}

.header__logo {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.header__logo__unbold {
    font-weight: 300;
    text-transform: none;
}

.header__right-container {
    display: flex;
}

.bell-icon {
    margin-right: 1rem;
    transition: var(--transition-standard);
}

.bell-icon:hover {
    opacity: 0.25;
    cursor: pointer;
}

.notifications {
    position: relative;
    display: block;
}

.notification-dropdown {
    display: none;
    position: absolute;
    z-index: 3;
    min-width: 160px;
    background-color: var(--background-primary);
    border: solid 3px white;
}

.notification-dropdown li {
    padding: 0.5rem;
    display: block;
    color: white;
    border: solid 1px white;
}

.show {
    display: block;
}

.alert-notification {
    fill: #79c44d;
    stroke-width: 500;
}

.pipe {
    margin-right: 1rem;
    font-size: 25px;
    color: rgba(211, 211, 211, 0.212);
}

.header-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

header h3 {
    font-size: 16px;
    text-transform: none;
    align-self: center;
}
/**********  Navigation  ***********/
nav {
    grid-area : navigation;
    background-color: var(--background-secondary);
    padding: 1rem;
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    margin: 0 1rem 0 1rem;
}

nav img {
    display: inline-block;
}

/**********  Navigation  ***********/
main {
    grid-area : main;
    width: 100%;
}

/**********  Dashboard ***********/
.main-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    width: 100%;
}

.headline {
    padding: 1rem;
    align-self: center;
    font-weight: normal;
}

.main-header-search {
    background-color: rgba(211, 211, 211, 0.452);
    border: solid 0.5px rgba(0, 0, 0, 0.11);
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 85%;
}

.main-header-searchbar {
    position: relative;
    padding-left: 1rem;
}

.main-header-search input {
    padding: 0.5rem;
    display: block; 
    border-radius: 5px 5px;  
    align-self: flex-end;
    border: solid 2px rgba(14, 13, 13, 0.431);
    width: 45vw;
    max-width: 300px;
}

.main-header-search button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px;
    z-index: 2;
    outline: none;
  }

/********** Alert Banner ***********/
.alert {
    background-color: var(--background-primary);
    color: white;
    padding: 1rem;
    margin: 0 1rem 2rem 1rem;
    border-radius: 5px 5px;
    vertical-align: middle;
}

.alert-banner {
    display: flex;
    margin-right: 0.5rem;
    justify-content: center;
    width: 100%;
}

.alert-banner-close {
    margin-left: auto;
    cursor: pointer;
}

/**********  Traffic ***********/
.traffic {
    padding-bottom: 1rem;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
}

.traffic-heading {
    padding: 0.5rem;
    text-align: left;
}

.traffic-nav li {
    display: inline-block;
    padding: 0.5rem;
    font-size: 10px;
    transition: var(--transition-standard);
    border-radius: 15px 15px;
}

.widget-container-full {
    margin-top: 0.5rem;
}

.active {
    background-color: rgba(0, 128, 0, 0.603);
    color: white;
}


/**********  Daily Traffic ***********/
.daily {
    border-top: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    padding: 1rem 0 1rem 0;
}

.daily-heading {
    padding: 0.5rem;
    text-align: left;
}


/**********  Mobile Users ***********/
.mobile {
    padding-top: 1rem;
}

.mobile-heading {
    padding: 0.5rem;
    text-align: left;
}

.widget-container-half{
    margin: 1rem;
}

/*Social Stats*/
.social {
    text-align: center;
    border-top: solid 1px lightgray; 
    border-bottom: solid 1px lightgray; 
    padding: 1rem 0 1rem 0;
}

.social-container {
    border: solid 1px lightgrey;
    background-color: rgba(211, 211, 211, 0.329);
    padding: 1rem;
    width: 250px;
    margin: 1rem auto;
    display: flex;
    justify-content: flex-start;
}

.social-heading {
    padding: 0.5rem;
    text-align: left;
}

.social-image {
    padding: 1rem;
    background-color: var(--background-primary);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.social-image .svg {
    height: 30px;
    width: 30px;
    margin: auto;
    vertical-align: middle;
}

.social-text {
    margin-left: 0.75rem;
    text-align: left;
    vertical-align: middle;
    padding-top: 0.25rem;
}

.platform {
    color: var(--background-primary);
}

.stat {
    font-size: 35px;
}

/**********  Members ***********/
.new-members,
.member-activity {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.new-members__heading,
.member-activity-heading {
    text-align: left;
    padding: 1rem;
}

.members-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}

.profile-image, 
.members-text,
.datetime {
    align-self: center;
}

.members-text {
    padding: 0.5rem;
    font-size: 13px;
    width: 100%;
    margin: auto;
    line-height: 1.5;
}

.datetime {
    font-size: 13px;
}

.member-activity {
    border-top: solid 1px lightgray; 
}

.members-text a:visited {
    color: #7476bfad;
 }

 .members-text a {
    color: var(--background-primary);
 }

 .arrow-symbol {
    display: none;
    color: var(--background-primary);
 }

/**********  Message  ***********/
.message {
    border-top: solid 1px lightgray; 
    padding-top: 1rem;
}

.message__heading {
    padding: 1rem;
    text-align: left;
}

.message__heading,
.settings__heading {
    margin-bottom: 0.5rem;
}

.widget-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    padding-bottom: 2rem;
}

.autocomplete {
    position: relative;
    display: block;
    margin-top: 0;
    padding-top: 0;
    top: -15px;
}

.autocomplete-dropdown {
    position: absolute;
    z-index: 3;
    background-color: lightgray;
    width: 100%;
}

.autocomplete-dropdown li {
    padding: 0.5rem;
    display: block;
    border: solid 1px black;
}

.message .form-field,
.message .form-area {
    padding: 0.5rem;
}

.message .form-area  {
    height: 100px;
}

.message .button-primary {
    width: 100%;
}

/**********  Settings  ***********/
.settings {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: solid 1px lightgray;
    display: flex;
    flex-direction: column;
}

.settings__heading {
    padding: 1rem;
    text-align: left;
}

.settings .form-field {
    width: 75%;
    margin: 1rem auto;
    padding: 0.5rem;
}

.form-field,
.form-area {
    margin-bottom: 1rem; 
    border-radius: 5px 5px;
    background-color: rgba(211, 211, 211, 0.301); 
}

.settings-button {
    padding-top: 1rem;
    margin: auto;
}

.button-primary {
    margin-right: 0.7rem;
}

.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 1rem;
}

.switch-light-label {
    margin: 0;
    padding: 0;
    width: 175px;
}

.onoffswitch {
    margin-left: 1rem;
}

/**********  Footer ***********/
footer {
    text-align: center;
    padding: 1rem;
    color: white;
    background-color: var(--background-primary);
    margin-top: 1rem;
    text-transform: uppercase;
}

footer a {
    transition: var(--transition-standard);
    text-shadow: 0px 0px 7px transparent;
    color: white;
}

footer a:hover,
footer a:visited {
    color: rgba(255, 255, 255, 0.753);
	text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.281);
}


/* ================================= 
    Media Queries
  ==================================== */
@media (min-width: 768px ) {
/* ================================= 
  Base Element Styles
==================================== */
.grid-container {
    grid-template-columns: 65px minmax(0, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "header header"
    "navigation main" ;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
        grid-template-areas:
        "dashboard dashboard"
        "alert alert"
        "traffic traffic"
        "daily mobile"
        "social social" 
        "members activity"
        "message settings"
        ;
    }

    h3 {
        font-size: 12px;
    }

    .main-header {
        grid-area: dashboard;
    }

  
    .alert {
        grid-area: alert;
    }

    .traffic {
        grid-area: traffic;
    }

    .daily {
        grid-area: daily;
    }

    .mobile {
        grid-area: mobile;
    }

    .social {
        grid-area: social;
    }

    .members {
        grid-area: members;
    }

    .member-activity {
        grid-area: activity;
    }

    .message {
        grid-area: message;
    }

    .settings {
        grid-area: settings;
    }

    .traffic, 
    .social {
        grid-column : 1 / span 2;
    }
    .daily, 
    .members, 
    .message {
        grid-column : 1 / span 1;
    } 

    .mobile, 
    .activity, 
    .settings {
      grid-column: 2 / span 1;
    }

    .widget-container-full {
        width: 88vw;
    }

    .widget-container-half {
        width: 40vw;
    }

   /********** Header ***********/
    .header {
        padding: 1rem;
    }
    
    header h3 {
        font-size: 18px;
    }

    .header__logo {
        font-size: 25px;
    }

    .header-image {
        width: 40px;
        height: 40px;
    }

   .bell-icon {
       height: 45px;
       width: 25px;
   }    

   .pipe {
       font-size: 40px;
   }
 
   /********** Navigation ***********/
    .nav {
        padding: 0;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }

    nav .svg {
        width: 30px;
        height: 30px;
        margin-bottom: 2.75rem;
        align-self: center;
    }

    nav .svg:first-child {
        margin-top: 0.5rem;
    }

    nav a {
        margin-left: 0.5rem;
        margin-right:  0.5rem;
    }

    nav a:first-child {
        margin-left: 0;
    }


    /********** Dashboard ***********/
    .headline {
        align-self: center;
    }
  
    .main-header-search input {
        margin-right: 0;  
        padding: 0.7rem;
    }

    .main-header-search button {
        font-size: 20px;
      }

  
    .notification-dropdown {
    width: 350px;
    right: 30px;
    }

   /********** Traffic ***********/
    .traffic_-header {
        margin-bottom: 1rem;
    }

    .traffic-nav li {
        font-size: 14px;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .traffic {
        padding-left: 1rem;
    }
 /********** Daily & Mobile ***********/
    .daily,
    .mobile {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-top: solid 1px lightgray;
        border-bottom: solid 1px lightgray;
    }

    .daily {
        border-right: solid 1px lightgray;
    }

    .daily-heading,
    .mobile-heading {
        margin-left: 0.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }
  /********** Social ***********/
    .social {
        border-top: solid 1px transparent;
        padding: 1.5rem 0.75rem;
    }

    .social-heading {
        padding: 0;
    }

    .social-containers {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .social-container {
        margin-right: 1rem;
        align-self: center;
        width: 350px;
    }

    .social-container:last-child {
        margin-right: 0;
    }

    /********** Members ***********/
    .new-members,
    .member-activity {
        text-align: left;
        padding-right: 2rem;
        padding-bottom: 0.25rem;
    }

    .new-members__heading,
    .member-activity__heading {
        padding-bottom: 0;
        margin-bottom: 0.25rem;
        padding-left: 1rem;
        margin-top: 0;
    }

    .members-text {
        padding: 0;
        font-size: 10px;
        margin: 0;
        line-height: 1;
    }

    .new-members .members-text {
        font-size: 10px;
    }

    .member-activity 
    .members-text {
        margin-right: 0;
        padding-right: 0;
    }

    .datetime {
        font-size: 10px;
        line-height: 1;
    }

    
    .member-activity {
        border-top: solid 1px transparent;
        padding-left: 0.25rem;
    }

    .new-members {
        border-right: solid 1px lightgray;
    }

    .members-container {
        flex-direction: row;
        padding-bottom: 0rem;
        border-bottom: solid 1px lightgray;
        justify-content: space-around;
        height: 55px;
        padding-left: 1rem;
        margin-left: 0.25rem;
        padding-top: 0;
        width: 45vw;
    }

    .members-container:last-child {
        border-bottom: solid 1px transparent;
    }
    .profile-image {
        margin: 0;
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
    }

    .member-post {
        line-height: 1;
        font-size: 10px;
    }

    .member-activity .members-container {
        margin-left: 0;
        padding-left: 1rem;
    }

    .arrow-symbol {
        display: block;
        margin-left: 1rem;
        align-self: center;
        font-weight: bold;
        font-size: 15px;
    }

/******* Message ********/
  .message {
      border-right: solid 1px lightgray;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .widget-container {
        width: 100%;
    }
/******** Message & Settings ********/
   .settings__heading,
   .message__heading {
       padding-bottom: 1rem;
   }

    .message__heading {
        padding-left: 0;
        padding-right: 0;
    }

    .message .form-area  {
        height: 125px;
        margin-bottom: 1.25rem;
    }
    
    .message .button-primary {
        padding: 1rem;
        margin-top: auto;
    }

/******** Settings ********/
    .settings .form-field {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0.5rem;
 }

    .settings {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .settings__heading {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1.5rem;
}

    .settings-button {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    margin-top: 0.25rem;
}
    .settings-button button {
    width: 75%;
    padding: 1rem;
    }

    .toggle-switch {
     margin: 0;
     text-align: left;
     align-self: flex-start;
     height: 25px;
     margin-bottom: 1.75rem;
    }

    .switch-light-label {
        font-size: 14px;
    }

    .onoffswitch {
        padding: 0;
        margin: 0;
    }

    #timezone {
        margin-top: 1rem;
        margin-bottom: 0;
    }

/******* Footer ********/
    footer {
        display: none;
    }
}

@media (min-width: 1024px ) {

    h3 {
        font-size: 16px;
    }

    .widget-container-full {
        width: 91vw;
    }

   .members-container  a,
   .members-container p {
       font-size: 13px;
   }


}